.home {
    padding: 20px;
    &__title {
        margin: 0;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 25px;
    }
    &__searchfield {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__searchbar { 
        width: calc(100% - 24px);
        padding: 12px;
        margin-bottom: 15px;
        outline: none;
        border: none;
        border-bottom: 1px solid #f45363;
        background: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        color: #ffffff; 
    }
    &__searchspecs {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__searchby {
        width: 260px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 12px;
        color: #ffffff;
        .focus {
            background: #f45363;
        }
    }
}

@media (max-width: 450px) and (min-width: 285px) {
    .home { 
        &__searchspecs {
          flex-direction: column;
          flex: 0, 1, 240px;
        }
    }
}

@media (max-width: 284px) {
    .home {
        &__searchspecs {
            flex-direction: column;
          }
        &__searchby { 
            width: 100%;
            flex-direction: column;
        }
    }
 }
